@charset 'utf-8';

@function setRem ($px) {
	@return $px / 75 * 1rem;
}
$active: #bfab45;
$main: #f5da55;

* {
    list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
	background-color: #333;
	color: #333;

	.button_group {
		margin: 20px 0;
		// background: url('../img/img01.png');
		position: relative;
		
		._button {
			// width: 100px;
			width: setRem(200);
			background-color: $main;
			margin-top: 10px;
			text-align: center;
			font-size: 12px;
			line-height: 20px;
			cursor: pointer;
			user-select: none;
		}
		
		._button:active {
			background-color: $active;
		}
	}

	.deviceInfo {
		li {
			width: 260px;
			font-size: 16px;
			padding: 5px 10px;
			margin: 5px 0;
			color: $main;
			background-color: #000;
		}
	}

	#canv {
		width: 200px;
		height: 100px;
	}

	.testHeightBox {
		width: 200px;
		height: 900px;
		background-color: #666;
		margin-top: 20px;
	}
}
