* {
    list-style: none;
    text-decoration: none;
}
body {
	background-color: #333;
	color: #333;
}
._button {
	width: 100px;height: 20px;
	background-color: #f5da55;
	/* pointer-events: none; */
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
	user-select: none;
}
._button:active {
	background-color: #bfab45;
}